{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
    
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-icons.css' %}" rel="stylesheet">

    <style nonce="{{ request.csp_nonce }}">
        .bg-custom-teal { background-color: #00a2b9; }
        .btn-custom { background-color: #00a2b9; color: #000; border: none; font-weight: 500; transition: all 0.3s ease; }
        .btn-custom:hover { background-color: #00879a; color: #000; transform: translateY(-2px); }
        
        .main-container-height { min-height: calc(100vh - 90px); }
    </style>
</head>
<body>

    {% include 'partials/navbar.html' %}

    <div class="container d-flex justify-content-center align-items-center main-container-height">
        <div class="d-flex flex-wrap gap-4 justify-content-center">
            {% csrf_token %}
            <a href="{% url 'cadastrar-certificado' %}" class="btn btn-custom rounded-pill px-4 py-3 fs-5 d-flex align-items-center gap-2 shadow-sm">
                <i class="bi bi-plus-circle"></i> Cadastrar certificado
            </a>
            
            <a href="{% url 'listar-certificados-usuario' %}" class="btn btn-custom rounded-pill px-4 py-3 fs-5 d-flex align-items-center gap-2 shadow-sm">
                <i class="bi bi-calendar-event"></i> Certificados em análise
            </a>

            <!--<a href="{% url 'treinamentos-finalizados' %}" class="btn btn-custom rounded-pill px-4 py-3 fs-5 d-flex align-items-center gap-2 shadow-sm">
                <i class="bi bi-clipboard-check"></i> Certificados analisados
            </a>
            -->

        </div>
    </div>

    <script src="{% static 'js/bootstrap.bundle.min.js' %}" nonce="{{ request.csp_nonce }}"></script>
</body>
</html>