<table border="1" cellpadding="10" cellspacing="0">
    <thead>
        <tr>
            <th>Nome do Certificado</th>
            <th>Carga Horária</th>
            <th>Palestrante</th>
            <th>Empresa</th>
            <th>Descrição</th>
            <th>Status</th>
            <th>Ações</th> 
        </tr>
    </thead>
    <tbody>
        {% for certificado in certificados %}
            <tr>
                <td>{{ certificado.nm_certificado }}</td>
                <td>{{ certificado.carga_horaria }}</td>
                <td>{{ certificado.palestrante }}</td>
                <td>{{ certificado.empresa }}</td>
                <td>{{ certificado.descricao }}</td>
                <td>{{ certificado.status }}</td>
                
                <td>
                    <a href="{% url 'visualizar-certificado' certificado.id %}">Ver Detalhes</a>
                    
                    {% if certificado.url %}
                        | <a href="{{ certificado.url }}" target="_blank">Visualizar Externo</a>
                    {% else %}
                        | Sem link externo
                    {% endif %}
                </td>
                </tr>
        {% endfor %}
    </tbody>
</table>